
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
}
body{
    background: #fff2e5;
}
section{
    width: 100%;
    background: #000;
}
header{
    width: 25%;
    float: left;
}
#logo{
    width: 10px;
    height: 20px;
    padding: 30px 90px 80px 35px;
    border: 2px solid ;
    border-radius: 90px;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    margin: 40px 0px 0px 90px;
    color: #4d2600;
    animation: ball 5s;
    transform-origin: 50% 50%;	
}
nav{
    width: 80%;
    margin: auto
}
nav li{
    width: 1px;
    height: 1px;
    padding: 38px 70px 59px 30px;
    border: 2px solid #FFF2E5;
    background: #4A1A1A none repeat scroll 0% 0%;
    border-radius: 90px;
    font-size: 20px;
    list-style: outside none none;
    margin: 4% 28%;
    text-align: center;
    animation: ball 5s;
    transform-origin: 50% 50%;	
}
nav li a{
    color: #fff2e5;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
}

figure{
    width: 300px;
    height: 300px;
    background: #FFF none repeat scroll 0% 0%;
    float: left;
    margin: 3% 21%;
    border-radius: 145px;
    box-shadow: 0px 4px 3px 2px rgba(69, 69, 69, 0.65);
}
aside{
width: 200px;
height: 200px;
background: #4A1A1A none repeat scroll 0% 0%;
float: left;
margin: 15% 16%;
border-radius: 145px;
box-shadow: 0px 4px 3px 2px rgba(69, 69, 69, 0.65);
border: #fff solid;
}
.handle{
    width: 40px;
    height: 40px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    margin: -57% 85%;
    float: left;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 2px 2px 3px #454545;
}
article p{
    width: 45%;
    margin: 10% 9.5% 0%;
    float: left;
    font-size: 35px;
    text-align: center;
    line-height: 53px;
}

.steam{
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%;
    animation:10s cubic-bezier(0.68,-0.55,0.27,1.55) 0s normal none 1 running steam;
    position: relative;
    top: 78px;
    left: 41%;
    border-radius: 34px;
    filter: blur(13px);
}
.steam{
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%;
    animation:10s cubic-bezier(0.68,-0.55,0.27,1.55) 0s normal none 1 running steam;
    position: relative;
    top: 78px;
    left: 41%;
    border-radius: 34px;
    filter: blur(13px);
}

#form{
    width: 50%;
    float: left;
}
form{
    position: absolute;
    top: 193px;
    width: 35%;
    right: 107px;
    margin: auto;
     
}
input{
    width: 100%;
    background: none;
    border: 1px solid #000;
    margin-bottom: 10px;
}
textarea{
    width: 100%;
    background: none;
    border: 1px solid #4A1A1A;
    margin-bottom: 10px;
}
address{
    width: 50%;
    margin: 28% 29% 0% 0%;
    text-align: center;
    font-size: 2em;
}